<eca-loader ng-show="stateIsLoading"></eca-loader>
<div ng-hide="stateIsLoading" class="customer-panel">
    <div class="customer-panel-wrapper">
        <a ng-click="customerDetailsCtrl.close()" class="fa fa-close fa-lg customer-panel-close-button" href=""></a>
        <div class="card-detail-customer-panel row">
            <!-- <div class="customer-panel-cover hide js-card-cover-box js-open-card-cover-in-viewer">
                <div class="customer-panel-cover-stickers js-display-stickers"></div>
            </div> -->
            <!-- <div class="customer-panel-archive-banner hide js-archive-banner">
                <span class="icon-lg icon-archive customer-panel-archive-banner-icon"></span>
                <p class="customer-panel-archive-banner-text">This card is archived.</p>
            </div> -->
            <div class="col-md-8">
                <div class="customer-panel-header">
                    <h3 class="customer-panel-title">
                        {{customerDetailsCtrl.customer.given_name}} {{customerDetailsCtrl.customer.surname}} <span ng-if="customerDetailsCtrl.customer.nickname" class="customer-panel-subtitle">({{customerDetailsCtrl.customer.nickname}})</span>
                    </h3>
                </div>
                <accordion close-others="false">
                    <!-- <accordion-group is-open="customerDetailsCtrl.isPersonalDetailsCollapsed" class="customer-panel-module">
                        <accordion-heading>
                            <i class="fa fa-user fa-lg"></i> Personal Details <i class="pull-right fa" ng-class="{'fa-angle-down': customerDetailsCtrl.isPersonalDetailsCollapsed, 'fa-angle-right': !customerDetailsCtrl.isPersonalDetailsCollapsed}"></i>
                        </accordion-heading>
                        <div ng-repeat="property in customerDetailsCtrl.properties" class="row">
                            <div class="col-md-4">{{property.display}}</div>
                            <div class="col-md-7">{{customerDetailsCtrl.customer[property.name]}}</div>
                        </div>
                    </accordion-group> -->
                    <eca-personal-details></eca-personal-details>
                    <eca-checklist-list></eca-checklist-list>
                    <accordion-group ng-if="customerDetailsCtrl.customer.stickyNotes" is-open="customerDetailsCtrl.isStickyNotesCollapsed" class="customer-panel-module">
                        <accordion-heading>
                            <i class="fa fa-sticky-note-o"></i> Sticky Notes <i class="pull-right fa" ng-class="{'fa-angle-down': customerDetailsCtrl.isStickyNotesCollapsed, 'fa-angle-right': !customerDetailsCtrl.isStickyNotesCollapsed}"></i>
                        </accordion-heading>
                    </accordion-group>
                </accordion>
            </div>
            <div class="customer-panel-sidebar col-md-4 pull-right">
                <div class="customer-panel-sidebar-module row">
                    <h4>Attach</h4>
                    <div class="customer-panel-button customer-panel-button-top-left">
                        <a class="button-link js-edit-labels" href=""><span class="fa fa-sticky-note-o"></span> Sticky Note</a>
                    </div>
                    <div class="customer-panel-button customer-panel-button-top-right">
                        <a ng-click="customerDetailsCtrl.addChecklist()" class="button-link js-add-checklist-menu" href=""><span class="fa fa-check-square-o"></span> Checklist</a>
                    </div>
                    <div class="customer-panel-button customer-panel-button-bottom-right">
                        <a class="button-link js-add-due-date" href=""><span class="fa fa-clock-o"></span> Event</a>
                    </div>
                    <div class="customer-panel-button customer-panel-button-bottom-right">
                        <a class="button-link js-attach" href=""><span class="fa fa-file-o"></span> Document</a>
                    </div>
                </div>
                <div class="customer-panel-sidebar-module row">
                    <h4>Actions</h4>
                    <div class="customer-panel-button customer-panel-button-top-left">
                        <a class="button-link js-move-card" href=""><span class="fa fa-arrows"></span> Move</a>
                    </div>
                    <div class="customer-panel-button customer-panel-button-top-right">
                        <a class="button-link js-copy-card" href=""><span class="fa fa-copy"></span> Copy</a>
                    </div>
                    <div class="customer-panel-button customer-panel-button-bottom-right">
                        <a class="button-link js-archive-card" href=""><span class="fa fa-archive"></span> Archive</a>
                    </div>
                    <!-- <p><a class="button-link js-unarchive-card hide" href=""><span class="icon-sm icon-refresh"></span> Handover to</a></p> -->
                    <div class="customer-panel-button customer-panel-button-bottom-right">
                        <a class="button-link js-delete-card" href=""><span class="fa fa-trash-o"></span> Delete</a>
                    </div>
                </div>
                <!-- <div class="customer-panel-module u-clearfix">
                    <p class="quiet u-bottom">
                        <a class="quiet-button js-more-menu" href="#">Share and more…</a>
                    </p>
                </div> -->
            </div>
            <!-- <p class="dropzone">Drop files to upload.</p> -->
            </div>
        </div>
    </div>
</div>