.modal-dialog {
  width: 80%;
}

.modal-dialog .btn {
  padding: 4px 15px;
}

.fade {
  transition: none;
}

/*.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}*/

.modal-content {
  background-color: #f9f9fb;
  border-radius: 3px;
  margin: 65px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 550px;
  z-index: 25;
}

.customer-panel .row {
  margin: 0;
}

.customer-panel-wrapper {
  padding: 30px 0 30px 15px;
}

.customer-panel-header {
  margin: 0 0 20px 10px;
  padding: 0;
  z-index: 1;
}

.customer-panel-header .customer-panel-title {
  margin: 0;
}

.customer-panel-header .customer-panel-subtitle {
  margin: 5px 0 20px 2px;
}

.customer-panel-close-button {
  position: absolute;
  top: 8px;
  right: 0;
  height: 30px;
  overflow: hidden;
  padding: 4px;
  width: 30px;
  z-index: 2;
  -webkit-transition: background-color 350ms,color 150ms;
  transition: background-color 350ms,color 150ms;
}

.card-detail-window {
  min-height: 600px;
}

.customer-panel-module {
  clear: both;
  position: relative;
}

.customer-panel-module .row {
  margin: 10px 0;
}

.customer-panel-module-title-text {
  display: inline-block;
  margin-top: 0;
  font-size: 19px;
}

.customer-panel-module-title-options {
  float: right;
  margin-bottom: 10.5px;
}

.customer-panel-sidebar {
  padding-left: 30px;
  z-index: 10;
  max-width: 400px;
}

.customer-panel-sidebar-module.row {
  margin-top: 20px;
}

.customer-panel-button {
  /*float: left;
  top: 0;
  bottom: 0;
  width: 130px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #18bc9c;*/
}

.customer-panel-button-top-left {
  margin-right: -1px;
}

.customer-panel-button-top-right {
}

.customer-panel-button-bottom-right {
  margin-top: -1px;
  margin-right: -1px;
}

.customer-panel-button-bottom-left {
  margin-top: -1px;
}
