<accordion-group is-open="personalDetailsCtrl.collapseStatus.personalDetails" class="customer-panel-module">
    <accordion-heading>
        <i class="fa fa-user fa-lg"></i> Personal Details <i class="pull-right fa" ng-class="{'fa-angle-down': personalDetailsCtrl.collapseStatus.personalDetails, 'fa-angle-right': !personalDetailsCtrl.collapseStatus.personalDetails}"></i>
    </accordion-heading>
    <div ng-repeat="property in customerDetailsCtrl.properties" class="row">
        <div class="col-md-4">{{property.display}}</div>
        <div ng-switch on="property.type">
            <div ng-switch-when="enum">
                <div editable editable-radio="customerDetailsCtrl.customer[property.name]"
                        radio-values="personalDetailsCtrl.genders"
                        on-save-callback="personalDetailsCtrl.updateProperty"
                        on-save-callback-args="{customer: customerDetailsCtrl.customer, property: property.name}">
                    <div class="col-md-8">
                        <span>{{customerDetailsCtrl.customer[property.name]}}</span>
                    </div>
                </div>
            </div>
            <div ng-switch-when="date">
                <div editable editable-date="customerDetailsCtrl.customer[property.name]"
                    on-save-callback="personalDetailsCtrl.updateProperty"
                    on-save-callback-args="{customer: customerDetailsCtrl.customer, property: property.name}">
                    <div class="col-md-8">
                        <span>{{customerDetailsCtrl.customer[property.name]}}</span>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
                <div ng-show="customerDetailsCtrl.customer[property.name]"
                        editable editable-text="customerDetailsCtrl.customer[property.name]"
                        on-save-callback="personalDetailsCtrl.updateProperty"
                        on-save-callback-args="{customer: customerDetailsCtrl.customer, property: property.name}">
                    <div class="col-md-8">
                        <span>{{customerDetailsCtrl.customer[property.name]}}</span>
                    </div>
                </div>
                <div ng-hide="customerDetailsCtrl.customer[property.name]"
                        editable placeholder-text=""
                        on-save-callback="personalDetailsCtrl.updateProperty"
                        on-save-callback-args="{customer: customerDetailsCtrl.customer, property: property.name}">
                    <div class="col-md-8">
                        <span class="placeholder">Click to enter</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</accordion-group>