<!-- Page Content -->
<div class="container list-view">
    <div ng-show="listCtrl.selectedCustomers.length > 0" class="toolbar wrap">
        <div class="fixed-wrapper">
            <div class="bulk-actions">
                <div class="checker">
                    <span ng-class="{'checked': listCtrl.selectedCustomers.length == listCtrl.customers.length}" ng-click="listCtrl.onTopCheckboxClicked()"><input type="checkbox"></span>
                </div>
                <ul class="bulk-options">
                    <li class="share"><a><i class="fa fa-share fa-lg"></i></a></li>
                    <li class="duplicate"><a><i class="fa fa-copy fa-lg"></i></a></li>
                    <li class="archive"><a><i class="fa fa-archive fa-lg"></i></a></li>
                    <li class="delete"><a><i class="fa fa-trash-o fa-lg"></i></a></li>
                </ul>
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">More Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li class="parent">
                            <a>Copy to project</a>
                            <ul class="dropdown-menu project-list">
                                <li><a title="A New Project">A New Project</a></li>
                                <li><a title="Web App Prototype">Web App Prototype</a></li>
                                <li><a title="Clickable Wireframe">Clickable Wireframe</a></li>
                            </ul>
                        </li> -->
                        <li class="parent">
                            <a>Change status</a>
                            <ul class="dropdown-menu change-status">
                                <li><a><span class="status-marker status-orange"></span><span>On Hold</span></a></li>
                                <li><a><span class="status-marker status-blue default-status"></span><span>In Progress</span></a></li>
                                <li><a><span class="status-marker status-yellow"></span><span>Needs Review</span></a></li>
                                <li><a><span class="status-marker status-green"></span><span>Approved</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="customers-grid list">
            <div class="customers-group list">
            <ul ui-sortable="listCtrl.sortableOptions" ng-model="listCtrl.customers">
                <li ng-repeat="customer in listCtrl.customers" ng-class="{'selected': customer.selected}" class="customer other-customers-selected list -large">
                    <div class="customer-wrap">
                        <div class="image">
                            <div ng-class="{'status-{{customer.status.color}}':customer.status}" class="image-inner" alt=""></div>
                        </div>
                        <div class="overlay">
                            <div class="checker">
                                <span ng-class="{'checked': customer.selected}" ng-click="listCtrl.onSingleCheckboxClicked(customer.id)"><input type="checkbox"></span>
                            </div>
                            <!-- <div class="list-view-customer-info">
                                <ul class="customer-info">
                                    <li class="list-item customer-comments">0</li>
                                    <li class="list-item customer-revisions">1</li>
                                </ul>
                                <ul class="file-info hide-for-more-tools">
                                    <li class="list-item"><span class="status-marker status-blue default-status"></span></li>
                                </ul>
                                <a class="show-more-tools hide-for-more-tools">More</a>
                            </div> -->
                            <!-- <ul class="tools tooltips-v2">
                                <li class="live-embed"><a draggable="false">Live Embed</a></li>
                                <li class="share"><a draggable="false">Share</a></li>
                                <li class="delete"><a draggable="false">Delete</a></li>
                            </ul> -->
                            <div class="view-customer-wrap">
                                <a title="" draggable="false" href="">
                                    <span class="view-customer-button" data-original-text="View Customer">View Customer</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 empty-col">
                            </div>
                            <div class="col-md-3 name-col">
                                <h3>{{customer.given_name}} {{customer.surname}}</h3>
                                <h5>{{customer.chinese_name}}</h5>
                            </div>
                            <div class="col-md-4 details-col">
                                <div class="row">
                                    <div class="col-md-4">Mobile: </div>
                                    <div class="col-md-4">{{customer.mobile}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Email: </div>
                                    <div class="col-md-4">{{customer.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="" draggable="false"></a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<!-- /.container -->
