<accordion-group ng-if="customerDetailsCtrl.customer.checklists.length > 0" is-open="checklistListCtrl.collapseStatus.checklist" class="customer-panel-module">
    <accordion-heading>
        <i class="fa fa-check-square-o fa-lg"></i> Checklists <i class="pull-right fa" ng-class="{'fa-angle-down': checklistListCtrl.collapseStatus.checklist, 'fa-angle-right': !checklistListCtrl.collapseStatus.checklist}"></i>
    </accordion-heading>
    <div ng-repeat="checklist in customerDetailsCtrl.customer.checklists" class="checklist-list ui-sortable">
        <div class="checklist">
            <div editable="checklist.name" editable-type="text"
                on-save-callback="checklistListCtrl.updateChecklistName"
                on-save-callback-args="{checklist: checklist}"
                class="customer-panel-module-title">
                <h4 class="customer-panel-module-title-text click-to-edit">{{checklist.name}}</h4>
                <div class="customer-panel-module-title-options">
                    <div confirm target-item="checklist" on-confirm-callback="checklistListCtrl.deleteChecklist">
                        <a href>Delete checklist</a>
                    </div>
                </div>
            </div>
            <div ng-show="checklist.items.length > 0" class="checklist-progress">
                <small><em>{{checklist.numChecked || 0}} / {{checklist.items.length}}</em></small>
                <progressbar ng-class="{'checklist-all-complete': checklist.numChecked == checklist.items.length}" max="checklist.items.length" value="checklist.numChecked"></progressbar>
            </div>
            <div ng-repeat="item in checklist.items" class="checklist-items-list ui-sortable">
                <div ng-class="{'checklist-item-completed': item.checked}" class="checklist-item">
                    <span ng-click="checklistListCtrl.toggleCheck(checklist, item)" class="checklist-item-checkbox fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-1x"></i>
                        <i ng-show="item.checked" class="fa fa-check fa-stack-1x"></i>
                    </span>
                    <div editable="item.text" editable-type="text"
                        on-save-callback="checklistListCtrl.updateItemText"
                        on-save-callback-args="{checklist: checklist, item: item}"
                        on-delete-callback="checklistListCtrl.deleteItem"
                        on-delete-callback-args="{checklist: checklist, item: item}"
                        class="checklist-item-details">
                        <p class="checklist-item-details-text">{{item.text}}</p>
                    </div>
                </div>
            </div>
            <div class="checklist-new-item">
                <div editable editable-type="text"
                    placeholder-text="Add an item"
                    on-save-callback="checklistListCtrl.addItem"
                    on-save-callback-args="{checklist: checklist}">
                    <a class="checklist-add-item-text">Add an item</a>
                </div>
            </div>
        </div>
    </div>
</accordion-group>